

.background{
    margin-top:-23px ;
    background-color:#ff4349;
    width: 100%;
    height: 100%;
    display: flex;

}
.logo{
    width: 100px;
    height: 100px;
    margin-top: 23px;
}
.text{
    margin-left: 0 ;
    margin-top: 50px;
    color: white;
}
